DB_HOST=postgres
DB_PORT=5432
DB_NAME=nuggets_erp
DB_USER=postgres
DB_PASSWORD=postgres
JWT_KEY=nkg3*2kln3)!35GJl1pVnkg3*2kln3)!35GJl1pV
JWT_ISSUER=nuggets
JWT_AUDIENCE=nuggets_clients
ASPNETCORE_ENVIRONMENT=Development
ASPNETCORE_URLS=http://+:8080